body 	{
	font-family: Helvetica, Sans;
}

.title	 {
	text-align: center;
}

#album, #members 	{
	font-family: 'Sonsie One', cursive;
}

li 	{
	font-style: italic;
}

a:link	{
	text-decoration:none;
}
a:visited	{
	text-decoration:none;
}

a:hover	{
	background-color:rgba(172, 225, 175, .2);
	text-decoration:underline;
}

a:active	{
	text-decoration:none;
}

td	{
	font-style:italic;
}