body 	{
	font-family:Lato, sans-serif;
}

.title	{
	font-family: Sigmar One, cursive;
	font-weight: 200;
	color:rgb(68, 76, 56);
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.foot	{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}


.small {
	font-variant: small-caps;
}