
body {
	font-family: Comic Sans MS, Sans;
}

.footer {
	width: 400px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.title {
	width: 400px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.nav {
margin:15px;
}