body 	{
	font-family:Lato, sans-serif;
}

.title	{
	font-family: Sigmar One, cursive;
	font-weight: 200;
	color:rgb(68, 76, 56);
}

.footer 	{
	width: 400px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.title 	{
	width: 400px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.nav 	{
margin:15px;
}

.small {
	font-variant: small-caps;
}

a:link	{}

a:visited	{
	color:rgb(68, 76, 56);
}
a:hover	{
	font-weight:bold;
}
a:active	{
	text-decoration:none;
}